.css-lzr3bi-LoadingOverlayWrapperBase {
  position: fixed !important;
}

.text-one-line {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}